/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}
*/


@font-face {
  font-family: 'GT Sectra';
  src: url('../fonts/GT-Sectra-Display-Trial-Bold.woff2') format('woff2'),
       url('../fonts/GT-Sectra-Display-Trial-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

  
#abouttext, #peopletext, #linestext, #logo {
	display: none;
}


html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  overflow: hidden;

  font-family: 'GT Sectra';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#loading { 
	width: 50%;
    display: none;
    position: fixed;
	    top: 50%;
	    left: 50%;
    transform: translate(-50%, -50%);
  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
          
}

#loading-logo {
 	width: 100%;
 	max-width: 400px;
}


#loading-logo  img{
	width: 100%;
}



a {
  text-decoration: none;
}


.side-char {
	font-family: 'GT Sectra', serif;
}

#nav, #nav a, #nav a:active, #nav a:link {
  z-index: 2;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 9px rgba(0,0,0,0.25);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: "sofia-pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 1;
}

#logo {
  position: absolute;
  z-index: 10000000000000;
}


#nav-about, #nav-blog, #nav-lines, #nav-people, #content {
  position: absolute;
  z-index: 10000000;
}



#logo {
  display: none;
  margin: 10px auto; 
  position: fixed;
  left: calc(50% - 40px);
  width: 80px; 
}

#logo img {
  width: 100%;
  margin: 0px auto;
}


#nav-about {
	
  top: 20px;
  left: 20px;
}
#nav-blog {
  bottom: 20px;
  right: 20px;
}
#nav-lines {
  top: 20px;
  right: 20px;
}
#nav-people {
  bottom: 20px;
  left: 20px;
}

.main-link > a:before {
  content: "";
  position: absolute;
  width: 95%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 9px rgba(0,0,0,0.25);

  visibility: visible;

  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;

  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}

.main-link > a:hover:before {
  position: absolute;
  bottom: 7px;
}


.main-link2 > a:before {
  content: "";
  position: absolute;
  width: 95%;
  height: 0px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 9px rgba(0,0,0,0.25);

  visibility: visible;

  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;

  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}


.main-link2 > a:hover:before {
  position: absolute;
  bottom: 7px;
  height: 3px;
}


#content {
  position: relative;
  display: block;
  z-index: 2;
  top: 25%;
  width: 75%;
  margin: 0px auto;

  text-align: center;

  line-height: 1.2;
  color: #fff;
  text-shadow: 0 1px 9px rgba(0,0,0,0.25);
}




#nav-date {
  position:absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: rotate(-90deg);
}

#nav-tickets {
  position:absolute;
  right: -20px;
  top: 50%;
  -webkit-transform: rotate(90deg);
}


.info-close, .info-close2{
    position: absolute;
    bottom: 10%;
    left: 45px;
    cursor: pointer;
    font-size: 11px;
    font-family: "sofia-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.2;
	text-align: center;
	width: calc(100% - 80px);
	display: inline-block;
    opacity: 1;
}

.info-close:hover, .info-close2:hover{
     -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    opacity:.5;
}

 #info-slide {
  margin-right: -35%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; 
  position: fixed;
  top: 0px; 
  right: 0px;
  width: 25%;
  height: 100%; 
  box-sizing: border-box;
  padding: 40px; 
  padding-top: 80px;
  background: #fff;
  z-index: 1000000000000000;
  box-shadow: 0 1px 19px rgba(0,0,0,0.15);
}

 #info-slide2 {
  margin-left: -35%;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; 
  position: fixed;
  top: 0px; 
  left: 0px;
  width: 25%;
  height: 100%; 
  box-sizing: border-box;
  padding: 40px;
  padding-top: 80px; 
  background: #fff;
  z-index: 1000000000000000;
  box-shadow: 0 1px 19px rgba(0,0,0,0.15);
}


.title {
  font-size: 44px;
}

.sidebarh3 {
  font-size: 20px;
  margin-bottom: -10px;
}

.sidebartext {
  text-align: left;
  font-size: 15px;
  font-family: "sofia-pro",sans-serif;
  font-style: normal;
  font-weight: 500;
  color: rgba(0,0,0,.5);
}


#peopletext {
  position: absolute;
  width: 100%;
}

.title {
  font-size: 44px;
}
.body {
  text-align: center;
}

#hometext .body {
  text-align: center;
  font-size: 20px;
  text-align: center;
  font-family: "sofia-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

#abouttext .body iframe {
  width: 60%;
}


#abouttext .body {
	vertical-align: top;
}

#abouttext .body p {
  text-align: center;
  font-size: 26px;
  text-align: center;
  font-family: "sofia-pro",sans-serif;
  text-shadow: 0 1px 12px rgba(0,0,0,0.4);
  font-style: normal;
  font-weight: 500;
  vertical-align: middle;
}

#linestext .body {
  position: absolute;
  top: 0px;
  display: block;
  text-align: center;
  font-size: 44px;
  height: 100vh;
  vertical-align: top;
}


#peopletext .body {
  position: absolute;
  top: 0px;
  display: block;
  text-align: center;
  font-size: 44px; 
  vertical-align: top;
}

#peopletext .body p a {
	color: #fff;
	text-transform: none;
}



 


 




/*
#people {
  margin-left: 9%;
}
*/

.clear {
	clear: both;
	margin-bottom: 20px;
}
.person {  
  width: 140px;
  height: auto;
  display: inline-block;
  margin: -14px -8px;
  padding: 0px;
/*
  margin: 0px auto; 
  z-index: 2;
  font-size: 16px;   
  transition-property: width, margin-left, border-radius, background-color, opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-out; 
  text-align: center;
*/
  
}

/*
.person:hover {
  background-color: rgba(241, 241, 241, 1);
  width: 400px;
  margin-left: -200px;
}*/

.person img { 
  width: 100%; 
  height: auto; 
  float: left;
    -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease;
}

.person:hover img {
  border-radius: 0;
  filter:saturate(5);
  
}

/*
.person p {
  position: absolute;
  top: 15px;
  left: 180px;
  line-height: 1.4em;
  width: 200px;
  margin-bottom: 5px;
}
*/


@media (max-width: 1300px) {
  .person {
    width: calc(33% - 6px); 
    margin: 0px auto;
  }

}


@media (min-width: 950px) {
  .hidden-desktop {
    display: none;
    height: 0px;
  }
}

@media (max-width: 951px) {
  .hidden-desktop {
    display: inline-block;
  }
}




@media (min-width: 500px) {
  .hidden-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .hidden-mobile {
    display: inline-block;
  }
}




@media (max-width: 950px) {
/*
  .person  {
    width: calc(45% - 6px);
  }
*/
  #linestext .body, .char {
    font-size: 30px;
  }
  #abouttext .body iframe {
    width: 340px;
    height: 200px;
  }
  #abouttext .body p {
    font-size: 18px;
  }

 

}

@media (max-width: 550px) {
/*
  .person {
    width: calc(60% - 6px);
  }
*/

  #content {
    top: 20%;
    width: 80%;
    margin: 0px auto;
  }

  #linestext .body {
    font-size: 28px;
    width: 90%;
    margin: 0px auto;
    padding-left: 16px;
    z-index: 1; 
  }


 #peopletext .body p {
    font-size: 28px; 
  }


  #linestext .body a{
    display: block;
    line-height: 1.3;
  }


  .char {
    font-size: 1px;
    display: none;
    opacity: 0;
    height: 0px;
  }


.inactive {
    font-size: 1px;
    display: none;
    opacity: 0;
    height: 0px;
  }

  #abouttext .body iframe {
    width: 340px;
    height: 200px;
  }
  #abouttext .body p {
    font-size: 15px;
  }


  #nav, #nav a, #nav a:active, #nav a:link {
  z-index: 100000;
  font-size: 16px; 
  }


 
 
	#loading{
	  margin: 10px auto;  
	  margin-left: -16px;
	  margin-top: -16px;
	  width: 150px;
	  display: block;
	}
	



	#logo {
	  margin: 10px auto; 
	  position: fixed;
	  left: calc(50% - 43px);
	  width: 60px;
	  display: block;
	}
	
	
	.main-link > a:before { 
	  height: 2px; 
	}
	
	.main-link > a:hover:before {
	  position: absolute;
	  bottom: 6px;
	}
	
	
	
	.info-close, .info-close2{
    position: absolute;
    bottom: 10%;
    left: 45px;
    cursor: pointer;
    font-size: 11px;
    font-family: "sofia-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.2;
	text-align: center;
	width: calc(100% - 80px);
	display: inline-block;
    opacity: 1;
	}
	
	.info-close:hover, .info-close2:hover{
	     -webkit-transition: all ease 0.3s;
	    -moz-transition: all ease 0.3s;
	    -o-transition: all ease 0.3s;
	    transition: all ease 0.3s;
	    opacity:.5;
	}
	
	 #info-slide {
	  margin-right: -100%;
	  -webkit-transition: all ease 0.3s;
	  -moz-transition: all ease 0.3s;
	  -o-transition: all ease 0.3s;
	  transition: all ease 0.3s; 
	  position: fixed;
	  top: 0px; 
	  right: 0px;
	  width: 100%;
	  height: 100%; 
	  box-sizing: border-box;
	  padding: 40px; 
	  padding-top: 80px;
	  background: #fff;
	  z-index: 1000000000000000;
	  box-shadow: 0 1px 19px rgba(0,0,0,0.15);
	}
	
	 #info-slide2 {
	  margin-left: -100%;
	  -webkit-transition: all ease 0.3s;
	  -moz-transition: all ease 0.3s;
	  -o-transition: all ease 0.3s;
	  transition: all ease 0.3s; 
	  position: fixed;
	  top: 0px; 
	  left: 0px;
	  width: 100%;
	  height: 100%; 
	  box-sizing: border-box;
	  padding: 40px;
	  padding-top: 80px; 
	  background: #fff;
	  z-index: 1000000000000000;
	  box-shadow: 0 1px 19px rgba(0,0,0,0.15);
	}
	
	
	.title {
	  font-size: 28px;
	}
	
	.sidebarh3 {
	  font-size: 20px;
	  margin-bottom: -10px;
	}
	
	.sidebartext {
	  text-align: left;
	  font-size: 14px;
	  font-family: "sofia-pro",sans-serif;
	  font-style: normal;
	  font-weight: 500;
	  color: rgba(0,0,0,.5);
	}




	 

 
}
