@charset "UTF-8";
 

.YouTubePopUp-Wrap{
    position:fixed;
    width:100%;
    height:100%;
    background-color:#000;
    background-color:rgba(0,0,0,0.8);
    top:0;
    left:0;
    z-index:1000000000;
    
 
     
}

.YouTubePopUp-animation{
    opacity: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUp;
    animation-name: YouTubePopUp;
    
    	 
}

.mid-vid {
	border:0px;outline:0px;width: 80%;max-width:980px;margin: 130px auto;
}

@-webkit-keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes YouTubePopUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body.logged-in .YouTubePopUp-Wrap{ /* For WordPress */
    top:32px;
    z-index:99998;
}

.YouTubePopUp-Content{
/*
	width: 80%; 
	max-width:980px;
    display:block;
    margin:0 auto;
    height:100%;
    position:relative;
*/
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
}


.pos-vid {
	width: 80%; 
	max-width:980px;
}


.YouTubePopUp-Content iframe{
/*
    max-width:980px !important;
    width: 100% !important;
    display:block !important;
    height:550px !important;
    border:none !important;
    position:absolute;
    top: 130px;
    bottom: 0;
    margin: 0x auto;
*/
    
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    
}



.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 

.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }




.YouTubePopUp-Hide{
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: YouTubePopUpHide;
    animation-name: YouTubePopUpHide;
}

@-webkit-keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes YouTubePopUpHide {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.YouTubePopUp-Close{
    position:absolute;
    top:0;
    cursor:pointer;
    bottom:528px;
    right:0px;
    margin:auto 0;
    width:24px;
    height:24px;
    background:url(../images/close.html) no-repeat;
    background-size:24px 24px;
    -webkit-background-size:24px 24px;
    -moz-background-size:24px 24px;
    -o-background-size:24px 24px;
}

.YouTubePopUp-Close:hover{
    opacity:0.5;
}

 
 
.vid-block {
	position: absolute;
	display: block;
	left: calc(10%);
	z-index: 10;
	max-width: 980px;
	width: 80%;
	height: auto; 
	margin: 3px auto;
	  -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
       -o-transition: all .2s ease;
          transition: all .2s ease; 
}

 
.vid-block img{
	width: 100%;
  box-shadow: 0 1px 30px rgba(0,0,0,0.15);
}
 




 





@media (max-width: 768px) {


.vid-block {
	width: 100%;
	margin: 0px auto;
}

}




@media (min-width: 768px) {


.vid-block:hover {
	margin-top: -200px;
}
 
 
 

}





@media (min-width: 768px) {


.vid-block:hover {
	margin-top: -200px;
}
 

}



@media all and (max-width: 768px) and (min-width: 10px){
	
	
    .YouTubePopUp-Content{
        max-width:90%;
        width: 100%;
        left: 5%;
        
    }
    
    
.mid-vid {
	border:0px;outline:0px;width: 100%;max-width:100%;margin: 130px auto;
}


.vid-block {
	max-width: 980px;
	width: 80%;
	height: 100px;
	display: block;
	background: #000;
	margin: 3px auto;
}




}

@media all and (max-width: 600px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:320px !important;
    }

    .YouTubePopUp-Close{
        bottom:362px;
    }
}

@media all and (max-width: 480px) and (min-width: 10px){
    .YouTubePopUp-Content iframe{
        height:220px !important;
    }

    .YouTubePopUp-Close{
        bottom:262px;
    }
}
