/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CODE */

@font-face {
  font-family: "DIN Black Alternate";
  src: url("fonts/DIN-BlackAlternate.ttf");
}

@font-face {
  font-family: "DIN Bold";
  src: url("fonts/DIN-Bold.ttf");
}

@font-face {
  font-family: "DIN Light";
  src: url("fonts/DIN-Light.ttf");
}

@font-face {
  font-family: "DIN Medium";
  src: url("fonts/DIN-Medium.ttf");
}

@font-face {
  font-family: "DIN Regular";
  src: url("fonts/DIN-Regular.ttf");
}

@font-face {
  font-family: "DIN Regular Alternate";
  src: url("fonts/DIN-RegularAlternate.ttf");
}


html, body {

  background-color: #FFFFFF;
  color: #000000;
  font-family: "DIN Regular";


}


#sidebar {
  display: block;
  position: fixed;
  background: 
      linear-gradient(to right, 
          rgba(256,256,256,1), 
          rgba(256,256,256,1), 
                    rgba(256,256,256,1), 
          rgba(256,256,256,.5), 

          rgba(256,256,256,0));
  font-family: "DIN Regular";
  font-size: 1em;
  top:0;
  left:0;
  height:100vh;
  width: 38vw;
  z-index: 2;
}
#gradient {
  display: block;
  position: fixed;
  background: 
      linear-gradient(to left, 
          rgba(256,256,256,1), 
          rgba(256,256,256,1), 
                    rgba(256,256,256,1), 
          rgba(256,256,256,.5), 

          rgba(256,256,256,0));
  font-family: "DIN Regular";
  font-size: 1em;
  top:0;
  right:0;
  height:100vh;
  width: 38vw;
  z-index: 2;
}

#header-image {
  display: block;
  position: relative;
  height: 52%;
  margin-bottom: 5vh;
}

#header-image img{
  display: block;
  position: absolute;
  height: 30vh;
  min-height: 200px;
  bottom: 0;
  left: 11vw;
}

#intro {
  display: block;
  position: relative;
  height: 70vh;
  min-height: 100px;
    padding-top: 1em;
  margin-left: 10vw;
  margin-right: 13vw;
  overflow: hidden;
}

    #home img{

    position: fixed;
    height: 5vw;
    top: 2.5vw;
    left: 2.5vw;
    }


a:link {
  color: #F8F2FF;
  text-decoration: none;
}

a:visited {
  color: #F8F2FF;
  text-decoration: none;
}

a:hover {
  color: #48444C;
  text-decoration: none;
}

a:active {
  color: #2D2833;
  text-decoration: none;
}

.active {
  font-family: "DIN Medium";
}

.swiper-container {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: block;
  height:70vh;
  width:35vh;
}

.swiper-slide {
  margin-right: 50px;
  margin-left: 50px;
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.caption {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -2em;;
}

/*post modifications*/

.post {
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vw;
    width: 60%;
}

article {
    font-family: "DIN Light";
    margin-top: 2em;
}

.start {
    font-family: "DIN Light";
    font-style:italic;
    margin-bottom: 10rem;
    font-size: 1.6rem;
    line-height: 1.7rem;
}

p {
    margin-bottom: 1.2rem;
    line-height: 1.2rem;
}

#bod p::first-letter {
    font-family: "DIN Bold";
    opacity: 0.7;

}

.leftbody {
    margin-top: 10rem;
    margin-bottom: 10rem;
    width: 45vh;
}

.rightbody {
    float:right;
    width: 45vh;
    margin-bottom: 10rem;
}

.bodyimg {
    margin-top: 3rem;
    width: 20rem;
}

#rightimg {
    float:right;
}

#endR {
    margin-top: 0;
    float: right;
    display: block;
}

#endL {
    margin-top: 13.5rem;
    float: left;
    display: block;
}

.parallax {
  background-image: url('images/POST1/RemiWilford.png');
  height: 100vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}


.titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.headtitle {
    font-family: "DIN Bold";
    color: white;
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

/*
.sub {
    font-family: "DIN Bold";
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 3em;
    letter-spacing: 0em;
    margin-bottom: 3rem;
}
*/

.sub {
    font-family: "DIN Light";
    color: white;
    font-style: italic;
    font-size: 2em;
    text-align: center;
    letter-spacing: 0em;
    margin-bottom: 3rem;
}


.link a {
    color: blue;
    border-bottom: 2px;
    border-bottom-color: blue;
}

.arrows-container {
display: block;
  position: absolute;
  bottom: 30px;
  right: 25px;
  width: 100px;
}

.swiper-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
        z-index: 100;
}

.swiper-arrow:focus {
  outline: none;
}

.swiper-arrow span {
  position: absolute;
  width: 10px;
  height: 1px;


  top: 14.5px;
  left: 10px;
  background: #333;
}

.swiper-arrow span:nth-of-type(1) {
  -webkit-transform: translate(0, -3.5px) rotate(45deg);
  transform: translate(0, -3.5px) rotate(45deg);
}

.swiper-arrow span:nth-of-type(2) {
  -webkit-transform: translate(0, 3.5px) rotate(-45deg);
  transform: translate(0, 3.5px) rotate(-45deg);
}

.swiper-button-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 0;
}

.swiper-button-next {
  right: 0;
}


@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-device-pixel-ratio: 2) { 

     #sidebar {
    font-size: 1.2em;
    height:20vh;
    min-height:150px;
    width: 100%;
    margin-bottom: 10vh;
    background: #FFFFFF;
    z-index: -1;
  }

  #header-image {
    display: inline block;
    position: absolute;
    top:20%;
    left: 10%;
    height: 80%;
      
}
    div#home img {
        display: block;
        position: unset;
        overflow: hidden;
        min-height: 130px;
        margin-left: 10vw;
        margin-top: 10vw;
    }
    
    .body {
        display: block;
        margin: 12vw;
        width: 76vw;
        
    }
  #header-image img{
    display: block;
    position: relative;
    height: 100%;
    min-height:110px;
    left:0px;
}

  #intro {
    display: inline block;
    position: absolute;
      font-size: .75em;


    overflow: hidden;
    min-height: 130px;
    margin-left: 20vh;
    margin-right: 3vh;
      margin-top: 3vh;
}

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 65vh;
    bottom:0;
    z-index: 1;
}

  .swiper-slide {
    height: 56vh;
    min-height: 300px;
    width: 28vh;
    min-width: 150px;
    margin: 2vh;
  }
    .arrows-container {
    display: none;
}
p {
     width: 80vw;   
}
.post {
    margin-left: 5vw;
    width: 80%;
}
.start {
    margin-bottom: 2rem;
}
.leftbody {
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 45vh;
}
.rightbody {
    margin-top: 2rem;
    float:none;
    width: 45vh;
    margin-bottom: 2rem;
}
.bodyimg {
    margin-top: 2rem;
    width: 20rem;
}
#rightimg {
    float:none;
}
#endR {
    float: none;
}
#endL {
    margin-top: 2rem;
    float: none;
}
.parallax {
  background-position:left;
}

}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-device-pixel-ratio: 2) { 


     #sidebar {
    font-size: 1.2em;
    height:20vh;
    min-height:150px;
    width: 100%;
    margin-bottom: 10vh;
    background: #FFFFFF;
             z-index: -1;
  }

  #header-image {
    display: inline block;
    position: absolute;
    top:20%;
    left: 10%;
    height: 80%;
      
}
    div#home img {
        display: block;
        position: unset;
        overflow: hidden;
        min-height: 130px;
        margin-left: 10vw;
        margin-top: 10vw;
    }
    
    .body {
        display: block;
        margin: 12vw;
        width: 76vw;
        
    }
  #header-image img{
    display: block;
    position: relative;
    height: 100%;
    min-height:110px;
    left:0px;
}

  #intro {
    display: inline block;
    position: absolute;
      font-size: .75em;


    overflow: hidden;
    min-height: 130px;
    margin-left: 20vh;
    margin-right: 3vh;
      margin-top: 3vh;
}

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 65vh;
    bottom:0;
    z-index: 1;
}

  .swiper-slide {
    height: 56vh;
    min-height: 300px;
    width: 28vh;
    min-width: 150px;
    margin: 2vh;
  }
    .arrows-container {
    display: none;
}
    
    p {
     width: 80vw;   
}
.post {
    margin-left: 5vw;
    width: 80%;
}
.start {
    margin-bottom: 2rem;
}
.leftbody {
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 45vh;
}
.rightbody {
    margin-top: 2rem;
    float:none;
    width: 45vh;
    margin-bottom: 2rem;
}
.bodyimg {
    margin-top: 2rem;
    width: 20rem;
}
#rightimg {
    float:none;
}
#endR {
    float: none;
}
#endL {
    margin-top: 2rem;
    float: none;
}
.parallax {
  background-position:left;
}

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 

     #sidebar {
    font-size: 1.2em;
    height:20vh;
    min-height:150px;
    width: 100%;
    margin-bottom: 10vh;
    background: #FFFFFF;
             z-index: -1;
  }

  #header-image {
    display: inline block;
    position: absolute;
    top:20%;
    left: 10%;
    height: 80%;
      
}
    div#home img {
        display: block;
        position: unset;
        overflow: hidden;
        min-height: 130px;
        margin-left: 10vw;
        margin-top: 10vw;
    }
    
    .body {
        display: block;
        margin: 12vw;
        width: 76vw;
        
    }
  #header-image img{
    display: block;
    position: relative;
    height: 100%;
    min-height:110px;
    left:0px;
}

  #intro {
    display: inline block;
    position: absolute;
      font-size: .75em;


    overflow: hidden;
    min-height: 130px;
    margin-left: 20vh;
    margin-right: 3vh;
      margin-top: 3vh;
}

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 65vh;
    bottom:0;
    z-index: 1;
}

  .swiper-slide {
    height: 56vh;
    min-height: 300px;
    width: 28vh;
    min-width: 150px;
    margin: 2vh;
  }
    .arrows-container {
    display: none;
}
    
    p {
     width: 80vw;   
}
.post {
    margin-left: 5vw;
    width: 80%;
}
.start {
    margin-bottom: 2rem;
}
.leftbody {
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 45vh;
}
.rightbody {
    margin-top: 2rem;
    float:none;
    width: 45vh;
    margin-bottom: 2rem;
}
.bodyimg {
    margin-top: 2rem;
    width: 20rem;
}
#rightimg {
    float:none;
}
#endR {
    float: none;
}
#endL {
    margin-top: 2rem;
    float: none;
}
.parallax {
  background-position:left;
}

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (-webkit-device-pixel-ratio: 2) { 

     #sidebar {
    font-size: 1.2em;
    height:20vh;
    min-height:150px;
    width: 100%;
    margin-bottom: 10vh;
    background: #FFFFFF;
             z-index: -1;
  }

  #header-image {
    display: inline block;
    position: absolute;
    top:20%;
    left: 10%;
    height: 80%;
      
}
    div#home img {
        display: block;
        position: unset;
        overflow: hidden;
        min-height: 130px;
        margin-left: 10vw;
        margin-top: 10vw;
    }
    
    .body {
        display: block;
        margin: 12vw;
        width: 76vw;
        
    }
  #header-image img{
    display: block;
    position: relative;
    height: 100%;
    min-height:110px;
    left:0px;
}

  #intro {
    display: inline block;
    position: absolute;
      font-size: .75em;


    overflow: hidden;
    min-height: 130px;
    margin-left: 20vh;
    margin-right: 3vh;
      margin-top: 3vh;
}

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 65vh;
    bottom:0;
    z-index: 1;
}

  .swiper-slide {
    height: 56vh;
    min-height: 300px;
    width: 28vh;
    min-width: 150px;
    margin: 2vh;
  }
    .arrows-container {
    display: none;
}
    
    p {
     width: 80vw;   
}
.post {
    margin-left: 5vw;
    width: 80%;
}
.start {
    margin-bottom: 2rem;
}
.leftbody {
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 45vh;
}
.rightbody {
    margin-top: 2rem;
    float:none;
    width: 45vh;
    margin-bottom: 2rem;
}
.bodyimg {
    margin-top: 2rem;
    width: 20rem;
}
#rightimg {
    float:none;
}
#endR {
    float: none;
}
#endL {
    margin-top: 2rem;
    float: none;
}
.parallax {
  background-position:left;
}

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (-webkit-device-pixel-ratio: 3) { 


     #sidebar {
    font-size: 1.2em;
    height:20vh;
    min-height:150px;
    width: 100%;
    margin-bottom: 10vh;
    background: #FFFFFF;
             z-index: -1;
  }

  #header-image {
    display: inline block;
    position: absolute;
    top:20%;
    left: 10%;
    height: 80%;
      
}
    div#home img {
        display: block;
        position: unset;
        overflow: hidden;
        min-height: 130px;
        margin-left: 10vw;
        margin-top: 10vw;
    }
    
    .body {
        display: block;
        margin: 12vw;
        width: 76vw;
        
    }
  #header-image img{
    display: block;
    position: relative;
    height: 100%;
    min-height:110px;
    left:0px;
}

  #intro {
    display: inline block;
    position: absolute;
      font-size: .75em;


    overflow: hidden;
    min-height: 130px;
    margin-left: 20vh;
    margin-right: 3vh;
      margin-top: 3vh;
}

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 65vh;
    bottom:0;
    z-index: 1;
}

  .swiper-slide {
    height: 56vh;
    min-height: 300px;
    width: 28vh;
    min-width: 150px;
    margin: 2vh;
  }
    .arrows-container {
    display: none;
}
    
    p {
     width: 80vw;   
}
.post {
    margin-left: 5vw;
    width: 80%;
}
.start {
    margin-bottom: 2rem;
}
.leftbody {
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 45vh;
}
.rightbody {
    margin-top: 2rem;
    float:none;
    width: 45vh;
    margin-bottom: 2rem;
}
.bodyimg {
    margin-top: 2rem;
    width: 20rem;
}
#rightimg {
    float:none;
}
#endR {
    float: none;
}
#endL {
    margin-top: 2rem;
    float: none;
}
.parallax {
  background-position:left;
}

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) { 

     #sidebar {
    font-size: 1.2em;
    height:20vh;
    min-height:150px;
    width: 100%;
    margin-bottom: 10vh;
    background: #FFFFFF;
             z-index: -1;
  }

  #header-image {
    display: inline block;
    position: absolute;
    top:20%;
    left: 10%;
    height: 80%;
      
}
    div#home img {
        display: block;
        position: unset;
        overflow: hidden;
        min-height: 130px;
        margin-left: 10vw;
        margin-top: 10vw;
    }
    
    .body {
        display: block;
        margin: 12vw;
        width: 76vw;
        
    }
  #header-image img{
    display: block;
    position: relative;
    height: 100%;
    min-height:110px;
    left:0px;
}

  #intro {
    display: inline block;
    position: absolute;
      font-size: .75em;


    overflow: hidden;
    min-height: 130px;
    margin-left: 20vh;
    margin-right: 3vh;
      margin-top: 3vh;
}

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 65vh;
    bottom:0;
    z-index: 1;
}

  .swiper-slide {
    height: 56vh;
    min-height: 300px;
    width: 28vh;
    min-width: 150px;
    margin: 2vh;
  }
    .arrows-container {
    display: none;
}
  
    
p {
     width: 80vw;   
}
.post {
    margin-left: 5vw;
    width: 80%;
}
.start {
    margin-bottom: 2rem;
}
.leftbody {
    margin-top: 2rem;
    margin-bottom: 0rem;
    width: 45vh;
}
.rightbody {
    margin-top: 2rem;
    float:none;
    width: 45vh;
    margin-bottom: 2rem;
}
.bodyimg {
    margin-top: 2rem;
    width: 20rem;
}
#rightimg {
    float:none;
}
#endR {
    float: none;
}
#endL {
    margin-top: 2rem;
    float: none;
}
.parallax {
  background-position:left;
}


}

