html, body {
  background: #000;
  color: #fff;
  font-family: "Lato";
}


form {
  width: 100%;
}

input {
  background: #000;
  border: 1px solid #fff;
  line-height: 40px;
  margin-bottom: 30px;
  color: #fff;
  margin-top: 5px;
  padding-left: 10px;
}

.whole {
  width: 100%;
}

.names {
  position: relative;
  height: 250px;
  margin-bottom: 20px;
}

.names div {
  position: absolute;
}

.left {
  width: 60%;
}

.right {
  width: 40%;
}

.left-half {
  width: 90%;
  margin-bottom: 10px;
}

.right-half {
  width: 100%;
  margin-bottom: 10px;
}

.right {
  right: 0;
}


.upload {
  position: relative;
  margin-bottom: 100px;
}

.box {
  width: 87%;
  margin: 0;
}

.arrow {
  width: 40px;
  height: 41px;
  position: absolute;
  right: 0;
  border: 1px solid #fff;
  top: 41px;
}

form h3 {
  margin-top: 10px;
  font-size: 20px;
}
