input:focus {
outline: none;
border-bottom: solid #fff 2px;
}

textarea:focus {
outline: none;
border: solid #fff 2px;
}

#social {
    /*position: absolute;*/
    margin: auto;
}

.contact-form {
max-width: 580px;
height: 600px;
position: absolute;
left: 6%;
right: 0px;
margin: auto;
font-family: 'DIN Light';
font-size: 18px;
}

.contact-form h1 {
  color: #fff;
}

.contact-form p {
/*margin-top: 30px;*/
}

.contact-form span {
color: rgb(100,100,100);
}

.contact-text-field {
width: calc(100% - 20px);
  padding: 10px 10px 0px 0px;
  margin: 0 0 5px 0;
font-size: 18px;
    border: solid #fff 1px;
    /* border-bottom: solid #fff 1px; */
  background-color: rgba(0,0,0,0);
color: rgb(100,100,100);
font-family: 'DIN Light';
border-radius: 0;
}

.contact-text-area {
width: calc(100% - 31px);
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    border: solid white 1px;
    background-color: rgba(0,0,0,0);
    color: rgb(100,100,100);
    font-family: 'DIN Light';
    border-radius: 0;
}

.contact-text {
    font-size: 26px;
    line-height: 34px;
    font-family: 'DIN Light';
    width: 70%;
    color: #737373;
    margin-top: 100px !important;
}


.contact-text a {
    color: #000;
    -webkit-transition: all ease-in-out .15s;
    -moz-transition: all ease-in-out .15s;
    -o-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
    text-decoration: none;
    opacity: .5;
}


.contact-text a:hover {
    opacity: 1;
}


.contact-send-button {
    width: calc(100% - 8px);
    padding: 15px;
    color: white;
    background-color: rgba(0,0,0,1);
    /* margin-top: 15px; */
    border: solid white 1px;
    font-size: 18px;
    font-family: 'DIN Light';
    transition: background-color 0.2s;
    border-radius: 0;
    -webkit-appearance: none;
}

.contact-send-button:hover {
color: white;
background-color: rgba(20,20,20, 0.9);
cursor:pointer;
}

@media (min-width: 1650px) {
  .contact-form {
  left: 0;
  }
}

@media (max-width: 880px) {
  .contact-form {
  left: 25%;
  max-width: 540px;
  }
}

@media (max-width: 769px) {
  .contact-form {
    top: 150px;
  left: 25px;
  right: 25px;
    bottom: auto;
  max-width: 540px;
  }
h1{
  font-size:22px!important;
  margin-top:58px!important;
}
  label{
  font-size:14px;
  }
.lg-nav{
position: fixed;
width: 100vw;
height: 74px;
top: 0;
left: 0;
z-index: 999;
background: white;
box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.35);
}
.title-mb{
display:block;
width:40vw;
position:absolute;
top:27px;
margin:0 30vw 0 30vw;
z-index:1000;
text-align:center;
}
.title-mb a{
font-family:"DIN Medium";
text-transform: uppercase;
font-size:20px;
outline:none;
text-decoration:none;
}
.title-mb a:visited{
color:#333;
}
.title-mb.hidden,.logo.hidden{
opacity:0!important;
transition:opacity .25s ease;
}
.menu{
width:auto;
position:absolute;
top:26px;
right:0;
left:50px!important;
text-align:left;
opacity:0;
z-index:999;
transition:opacity 0.25s ease;
}
.menu.on{
opacity:1;
z-index:1000;
left:50px!important;
right:0;
top:26px;
text-align:left;
transition:opacity 0.25s ease,
}
.menu.on li{
transition:opacity 0.25s ease,margin 0.25s ease;
}
.menu li{
margin:0 10px;
transition:opacity 0.25s ease,margin 0.25s ease;
}
.menu.on li:nth-child(1){
margin-left:0px!important;
}

#nav-icon{
z-index:200;
display:block!important;
left: calc((100% - 12vw) - 30px);
width: 30px;
height: 27px;
top: 27px;
position: relative;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
z-index:3000;
cursor: pointer;
}

#nav-icon span{
display: block;
position: absolute;
height: 3px;
width: 26px;
background: rgb(80,80,80);
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;

}

#nav-icon span:nth-child(1) {
top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
top:8px;
}

#nav-icon span:nth-child(4) {
top: 16px;
}

#nav-icon.open span:nth-child(1) {
top:11px;
width: 0%;
left: 12.5px;
visibility: hidden;
}

#nav-icon.open span:nth-child(2) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
top: 11px;
width: 0%;
left: 12.5px;
visibility: hidden;
}
}
.background-images {
z-index: -1;
position: fixed;
display: none;
}


.background-images img{
z-index: -1;
position: fixed;
display: block;
/*    width: 100%; */
}


.right_background{
width: 18%;
float: right;
right: 120px;
bottom: 0px;
opacity: .1;
}

.top_background{
width: 18%;
float: right;
right: 20%;
top: 18%;
opacity: .1;

}

.left_background{
width: 10%;
float: left;
left: 25%;
top: 35%;
opacity: .1;
}

h1{
font-size: 36px;
line-height: 40px;
font-family: 'DIN Regular';
width: 67%;
color: black;
}

#social i {
  margin: 10px;
  border-radius: 100%;
  border: 2px solid #999;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.contact-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/Contact.png");
  opacity: .3;
}

.blog-background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -100;
  background-size: cover;
  background-position: center center;
  background-image: url("../img/blog.jpg");
  opacity: .1;
}

.blog-item h1, h5 {
  color: white;
  margin: 0;
  padding: 0;
}

.blog-item h1 {
  margin-top: 50px;
  margin-bottom: 4px;
}

.blog-image {
  clear: both;
  width: 58% !important;
  margin-right: 50px !important;
  float: left;
}

.blog-image-right {
  clear: both;
  float: right;
  margin-right: 0px !important;
  margin-left: 50px !important;
}

.blog-section {
  padding-top: 35px;
  clear: both;
}

.blog-section strong {
  font-style: oblique;
}