@font-face {
  font-family: 'DIN Medium';
  src: url('../fonts/dinpro-medium-webfont.eot');
  src: url('../fonts/dinpro-medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dinpro-medium-webfont.woff2') format('woff2'),
       url('../fonts/dinpro-medium-webfont.woff') format('woff'),
       url('../fonts/dinpro-medium-webfont.ttf') format('truetype'),
       url('../fonts/dinpro-bmediumold-webfont.html') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Regular';
  src: url('../fonts/dinpro-regular-webfont.eot');
  src: url('../fonts/dinpro-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dinpro-regular-webfont.woff2') format('woff2'),
       url('../fonts/dinpro-regular-webfont.woff') format('woff'),
       url('../fonts/dinpro-regular-webfont.ttf') format('truetype'),
       url('../fonts/dinpro-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Light';
  src: url('../fonts/DIN-Light.eot');
  src: url('../fonts/DIN-Lightd41d.eot?#iefix') format('embedded-opentype'),
       url('../fonts/DIN-Light.woff') format('woff'),
       url('../fonts/DIN-Light.ttf') format('truetype'),
       url('../fonts/DIN-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'DIN Light';
}



/*add old blog posts*/

html, body {
  margin: 0;
  padding: 0;
}



.logo-right {
  position: fixed;
  right: 50px;
  width: 95px;
  height: 95px;
  z-index: 1000;
  top: 50%;
  margin-top: -65px;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

text {
 position: fixed;
 transform: translate(100px, 395px);
 font-family: "Din Regular";
 font-weight: 500;
 font-size: 50px;
 letter-spacing: 16px;
 color: #fff;
 fill: #fff;
 -webkit-transition: all 1s ease;
 transition: all 1s ease;
 -webkit-transition-delay: 2s;
 transition-delay: 2s;
}


.logo-right path {
  fill: #fff
}

.logo-right.active {
  opacity: 1;
}

.nav-left {
  position: fixed;
  left: 30px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  z-index: 10000;
}

.nav-left ul li {
  list-style-type: none;
  font-family: "Din Medium";
  line-height: 1.6em
}

.nav-left ul li a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.nav-left ul li a:hover {
  opacity: .6;
}






.grid-system {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  font-size: 1.5rem;
  font-family: "Din Medium";
}

.grid-system > div {
  padding: 0 20px;
}

.grid-system > div.left {
  flex-grow: 1;
  flex-basis: 0;
  align-self: center;
}

.grid-system > div.center {
  flex-grow: 3;
  flex-basis: 0;
}

.grid-system > div.right {
  flex-grow: 1;
  flex-basis: 0;
  justify-content: center;
  align-self: center;
}


.grid-system ul {
  list-style-type: none;
}

.grid-system a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.grid-system a:hover {
  color: #aaa;
}

.grid-system nav ul li {
  padding-top: 10px;
}

.grid-system .center-text {
  text-align: center;
}

.grid-system .left-text {
  text-align: left;
}

.grid-system ul.submenu {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.grid-system ul.submenu li {
  display: inline-block;
  text-align: center;
  padding: 0 26px;
}

.grid-system .logo {
  margin-left: 20%;
  width: 60%;
  height: 50vh;
  background-image: url("../img/logo_white-01.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.grid-system p {
  text-align: left;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-family: "Din Regular";
}

.grid-system img {
  width: 100%;
  margin: 25px 0;
  border: 1px solid white;
}

.grid-system .freeze {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-tranform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.grid-system .freeze li {
  font-size: 24px;
  cursor: pointer;
}

/*
.submenu li.active {
  text-decoration: underline;
}
*/

.grid-system .after-freeze {
  padding-top: 200px;
}

.grid-system .after-freeze-min {
  padding-top: 100px;
}

.freeze.fixed {
  position: fixed;
  background-color: black;
  box-shadow: 3px 3px 20px 10px #000;
  z-index: 100000000;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 800px) {
  .grid-system > div.left {
    flex-grow: 0;
    visibility: hidden;

  }
  .grid-system > div.center {
    flex-grow: 5;
  }
  .grid-system > div.right {
    flex-grow: 0;
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  .logo-right {
    display: none;
  }
  .nav-left {
    display: none;
  }
  .freeze {
    display: none;
  }
  .after-freeze {
    padding-top: 0px;
  }
  .grid-system p {
    font-size: 20px;
  }
}
