/**
 * Common styles used throughout the website
**/

/* CSS VARIABLES */
:root {
  --color-black: #000;
  --color-white: #FFF;
  --color-black-gradient: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.9),rgba(0,0,0,.0));
}

/* FONT IMPORTS */
@font-face {
  font-family: 'DIN Bold';
  src: url('../../assets/fonts/dinpro-bold-webfont.eot');
  src: url('../../assets/fonts/dinpro-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/dinpro-bold-webfont.woff2') format('woff2'),
  url('../../assets/fonts/dinpro-bold-webfont.woff') format('woff'),
  url('../../assets/fonts/dinpro-bold-webfont.ttf') format('truetype'),
  url('../../assets/fonts/dinpro-bold-webfont.html') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Medium';
  src: url('../../assets/fonts/dinpro-medium-webfont.eot');
  src: url('../../assets/fonts/dinpro-medium-webfontd41d.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/dinpro-medium-webfont.woff2') format('woff2'),
  url('../../assets/fonts/dinpro-medium-webfont.woff') format('woff'),
  url('../../assets/fonts/dinpro-medium-webfont.ttf') format('truetype'),
  url('../../assets/fonts/dinpro-medium-webfont.html') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Regular';
  src: url('../../assets/fonts/dinpro-regular-webfont.eot');
  src: url('../../assets/fonts/dinpro-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/dinpro-regular-webfont.woff2') format('woff2'),
  url('../../assets/fonts/dinpro-regular-webfont.woff') format('woff'),
  url('../../assets/fonts/dinpro-regular-webfont.ttf') format('truetype'),
  url('../../assets/fonts/dinpro-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Light';
  src: url('../../assets/fonts/DIN-Light.eot');
  src: url('../../assets/fonts/DIN-Lightd41d.eot?#iefix') format('embedded-opentype'),
  url('../../assets/fonts/DIN-Light.woff') format('woff'),
  url('../../assets/fonts/DIN-Light.ttf') format('truetype'),
  url('../../assets/fonts/DIN-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* BODY STYLES */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'DIN Light', sans-serif;
}

/*add old blog posts*/
html, body {
  margin: 0;
  padding: 0;
  font-family: "Din Regular", sans-serif;
  color: var(--color-white);
  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0;
}

/* Background */
.fixed-image {
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  pointer-events: none;
}

#atSign {
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
}

.background.active {
  opacity: 1;
}

/* Links */
p, a {
  color: var(--color-white);
}

/* Contact links */
.contact-links {
  margin-top: 120px;
}

.contact-links a {
  text-decoration: none;
}

img.contact-icon {
    width: 15%;
}
