/**
 * Common styles used throughout the website
 */

/* Links */
text a{
    color: black;
}

/* Contact links */
.contact-links {
  margin-top: 120px;
}

.contact-links a {
  text-decoration: none;
}

img.contact-icon {
    width: 15%;
}