@media(min-width: 1000px) {
  .mobile-container {
    display: none;
  }
}

@media(max-width: 1000px) {
  .nav-left {
    display: none;
  }
}

.title {
  position: absolute;
  font-family: "DIN Medium", sans-serif;
  line-height: 50px;
  padding-left: 10px;
  color: black;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.1;
  background-size: cover;
  background-position: center center;
    background-image: url(../assets/img/backgroundm.png)
}


.links {
  position: absolute;
  top: 200px;
}

.links ul li {
  list-style-type: none;
  font-family: "Din Medium", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.links ul li a {
  color:white;
  text-decoration: none;
}

.icons {
  position: absolute;
  bottom: 0px;
  right: 13px;
}

.icons ul li {
  list-style-type: none;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  border: 2px solid #999;
  color: black;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
  opacity: 0;
}

.icons ul li:nth-of-type(2) {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.icons ul li:nth-of-type(3) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.icons ul li:nth-of-type(4) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.icons ul li:nth-of-type(5) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.icons ul li a {
  list-style-type: none;
  height: 20px;
  color: #fff;
}

.icons ul li a i {
  font-size: 24px;
  line-height: 40px;
}


.button-container {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0;
  cursor: pointer;
}

.button-container.open span {
  background: white;
}

.button-container span {
  position: absolute;
  width: 30px;
  height: 1px;
  left: 55px;
  background:black;
}

.button-container span:nth-of-type(1) {
  top: 20px;
}

.button-container span:nth-of-type(2) {
  top: 30px;
}

.button-container.open .a {
  opacity: 0;
}

.button-container.open .b {
  opacity: 1;
}

.button-container.open span:nth-of-type(1) {
  -webkit-transform: translate(0, 5px) rotate(225deg);
  transform: translate(0, 5px) rotate(225deg);
}

.button-container.open span:nth-of-type(2) {
  -webkit-transform: translate(0, -5px) rotate(135deg);
  transform: translate(0, -5px) rotate(135deg);
  width: 30px;
}

/* Mobile CSS */
.mobile-container {
  position: fixed;
  z-index: 1000;
}

.mobile-head {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1000;
  background: white;
  opacity: .9;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: background-color 0.8s ease;
}

.mobile-head.open {
  background-color: black;
}

.mobile-head.open .title {
  color: white;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  transition: all 0.8s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 999;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: black;
}

.mobile-menu.open {
  opacity: 1;
  pointer-events: auto;
}

.mobile-menu.open .icons ul li {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
