/* LOGO */
.logo {
    width: 53px;
}

.mobile-logo {
  display: none;
  z-index: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-container {
  grid-column: span 2;
}

/* NEW NAVIGATION */
.nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 2rem 0 0;
}

.nav-item {
    margin-bottom: 0.5rem;
    position: relative;
}

.nav-item a{
  font-weight:400 !important;
}

.nav-item.active::before {
    left: -1.5rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    width: 3.5px;
    height: 3.5px;
    content: '';
    position: absolute;
    vertical-align: middle;
}

.nav-item a {
    text-decoration: none;
    opacity: 0.9;
}

.nav-item a:hover {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .nav-container {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
  .nav-item.active::before {
    display: none;
  }
}