/* CSS VARIABLES */
:root {
    --color-black: #000;
    --color-white: #FFF;
    --color-black-gradient: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,.9),rgba(0,0,0,.0));
    --body-size: 1.6rem;
    --body-line-height: 1.25;
    --mobile-menu-size: 2.5rem;
    --body-weight: 300;
    --label-weight: 400;
    --h1-weight: 500;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: 300;
}

p,a{
    font-size: var(--body-size);
    font-size: var(--body-size);
    line-height: var(--body-line-height);
}

html {
    font-family: DIN, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
    color: var(--color-white);
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
}

a {
    color: var(--color-white);
    text-decoration: none;
    opacity: .5;
    /* border-bottom: 1px solid white; */
}
  