/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul:not(#mobile-menu), li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CUSTOM CODE */

@font-face {
  font-family: "DIN Black Alternate";
  src: url("../../assets/fonts/DIN-BlackAlternate.ttf");
}

@font-face {
  font-family: "DIN Bold";
  src: url("../../assets/fonts/dinpro-bold-webfont.ttf");
}

@font-face {
  font-family: "DIN Light";
  src: url("../../assets/fonts/DIN-Light.ttf");
}

@font-face {
  font-family: "DIN Medium";
  src: url("../../assets/fonts/dinpro-medium-webfont.ttf");
}

@font-face {
  font-family: "DIN Regular";
  src: url("../../assets/fonts/dinpro-regular-webfont.ttf");
}

@font-face {
  font-family: "DIN Regular Alternate";
  src: url("../../assets/fonts/DIN-RegularAlternate.ttf");
}

a {
  color: #FFF;
}
a.dropdown * {
  color: #FFF;
}
a:any-link {
  color: #FFF;
}
a:default {
  color: #FFF;
}
html, body {
  font-family: "DIN Regular", sans-serif;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-y: hidden;

}

.nav {
  position: absolute;
  left: 1vw;
  top: 48vh;
  transform: rotate(90deg);
  z-index: 100;
  font-family: "DIN Regular", sans-serif;
  color: #FFF !important;
  font-size: 1.2em;
  text-decoration: none!important;
  transition: all .6s ease;

}

.nav:hover {
  opacity: .6;
  color:#FFF !important;
  text-decoration: none !important;
}
#sidebar {
  display: block;
  position: absolute;
  z-index: 10;
  background-image: var(--color-black-gradient);
  font-family: "DIN Regular", sans-serif;
  font-size: 1em;
  top:0;
  left:0;
  height:100vh;
  width: 38vw;
  z-index: 2;
}

#header-image {
  display: block;
  position: relative;
  height: 45vh;
  margin-bottom: 2vh;
}

#header-image img{
  display: block;
  position: absolute;
  height: 30vh;
  min-height: 200px;
  bottom: 0;
  left: 10vw;
}

#intro {
  display: block;
  position: relative;
  height: 40vh;
  min-height: 100px;
  padding-top: 1em;
  margin-left: 10vw;
  margin-right: 5vw;
  overflow: auto;
  color: #fff;
}

.active {
  font-family: "DIN Medium", sans-serif;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  color: #FFF;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: block;
  height:70vh;
  width:35vh;
}

.swiper-slide {
  margin-right: 50px;
  margin-left: 50px;
}


.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.caption {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -2em;
  color: #FFF;
}

/*post modifications*/
div.caption {
  color:black;
}
.post {
  margin-top: 10vw;
  margin-left: 10vw;
  margin-bottom: 10vw;
  width: 40vh;
}

.body {
  font-family: "DIN Light", sans-serif;
  margin-top: 2em;
}

.year {
  font-family: "DIN Bold", sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 3em;
  letter-spacing: 0.5em;
}

.animal {
  font-family: "DIN Bold", sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 3em;
  letter-spacing: 0.5em;
}

.producer {
  font-family: "DIN Light", sans-serif;

}

.title {
  font-size: 1em;
}

.link a {
  color: blue;
  border-bottom: 2px;
  border-bottom-color: blue;
}

.arrows-container {
  display: block;
  position: absolute;
  bottom: 30px;
  right: 25px;
  width: 100px;

}

.swiper-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 100%;
  z-index: 100;
}

.swiper-arrow:focus {
  outline: none;
}

.swiper-arrow span {
  position: absolute;
  width: 10px;
  height: 1px;


  top: 14.5px;
  left: 10px;
  background: #333;
}

.swiper-arrow span:nth-of-type(1) {
  -webkit-transform: translate(0, -3.5px) rotate(45deg);
  transform: translate(0, -3.5px) rotate(45deg);
}

.swiper-arrow span:nth-of-type(2) {
  -webkit-transform: translate(0, 3.5px) rotate(-45deg);
  transform: translate(0, 3.5px) rotate(-45deg);
}

.swiper-button-prev {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 0;
}

.swiper-button-next {
  right: 0;
}

@media only screen and (max-width: 600px){
  .nav {
    display:none;
  }

  #sidebar {
    position:absolute;
    height:12vh;
    height: calc(var(--vh, 1vh) * 12);
    width:100%;
    left: 0;
  }

  #header-image {
    position:absolute;
    height:83%;
    width:8.3vh;
    margin-bottom:0px;
    top:2vh;
    right:2vh;
  }

  #header-image img{
    height:100%;
    min-height:0px;
    top:none;
    bottom:none;
    left:0vh;
  }

  .body {
    display: block;
    margin: 12vw;
    width: 76vw;
  }

  #intro {
    display: block;
    position: absolute;
    font-size: 2.2vmax;
    overflow: auto;
    height: 30vh;
    height: calc(var(--vh, 1vh) * 30);
    min-height:50px;
    padding-top:25px;
    margin-top: 8vh;
    margin-left: 3vh;
    margin-right: 3vh;
    z-index: 10;
  }

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 54vh;
    height: calc(var(--vh, 1vh) * 54);
    padding-bottom:2em;
    top: 45vh;
    top: calc(var(--vh, 1vh) * 45);
    z-index: 1;
    overflow-y: scroll;
  }

  .swiper-slide {
    height: 40vh;
    height: calc(var(--vh, 1vh) * 40);
    width: 28vh;
    width: calc(var(--vh, 1vh) * 28);
    min-width: 150px;
    margin:2vh;
  }

  .caption {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -2em;;
  }

  .arrows-container {
    display: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1024px){

  .nav {
    display:none;
  }

  #sidebar {
    position:absolute;
    height:12vh;
    width:100%;
    left: 0;
  }

  #header-image {
    position:absolute;
    height:83%;
    width:8.3vh;
    margin-bottom:0px;
    top:2vh;
    right:2vh;
  }

  #header-image img{
    height:100%;
    min-height:0px;
    top:none;
    bottom:none;
    left:0vh;
  }

  .body {
    display: block;
    margin: 12vw;
    width: 76vw;
  }

  .swiper-container {
    display:block;
    position:absolute;
    width: 100%;
    height: 63vh;
    margin-top:2vh;
    padding-bottom:2em;
    top: 33vh;
    z-index: 1;
    overflow-y: scroll;

  }

  .swiper-slide {
    height: 50vh;
    height: calc(var(--vh, 1vh) * 50);
    width: 28vh;
    width: calc(var(--vh, 1vh) * 28);
    min-width: 150px;
    margin:2vh;
  }

  .caption {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -2em;
    font-size:1.1em;
  }

  .arrows-container {
    display: none;
  }
}
