.splide {
    grid-column: span 10;
}

.splide__track {
    height: 100%;
}

.splide__list {
    height: 100%;
}

.splide__slide {
    height: 100vh !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.splide__slide img {
    height: auto;
    width: 40rem;
}
