.timeline {
    grid-column: span 4;
}

.content-grid {
    position: fixed;
    width: 100%;
}

.content {
    grid-column: 7 / 11;
    height: 80vh;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease-out;
}

.blank {
    opacity: 0;
}

.slide {
    height: 80vh;
    padding: 5vh 0;
}

.slide:last-child {
    margin-bottom: 10vh;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.caption {
    margin-top: 1.8rem;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0.5;
}

.title, .subtitle, .body {
    font-size: 1.6rem;
}

.subtitle {
    opacity: 0.5;
}

.body {
    padding: 2.5rem 0;
    opacity: 0.5;
}

.break {
    margin-bottom: 2.5rem;
}

.link {
    font-size: 1.6rem;
    opacity: 0.5;
}
