.timeline {
    grid-column: 3 / -1;
}

.slide {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-column-gap: 2rem;
    height: 80vh;
    margin: 0;
    padding: 5vh 0;
}

.slide-fade {
    opacity: 0.5;
}

.slide:last-child {
    margin-bottom: 10vh;
}

.media {
    height: 70vh;
    grid-column: 1 / 5;
}

.content {
    grid-column: 6 / 9;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 0.3s ease-out;
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: #FFF;
}

.caption {
    margin-top: 1.8rem;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0.5;
}

.title, .subtitle, .body {
    font-size: 1.6rem;
}

.subtitle {
    opacity: 0.5;
}

.body {
    padding: 2.5rem 0;
    opacity: 0.5;
}

.break {
    margin-bottom: 2.5rem;
}

.link {
    font-size: 1.6rem;
    opacity: 0.5;
}
