.title-mb{
	display:none;
}

@media (min-width: 768px) {
  .mobile-container {
		display: none
	}
}

@media (min-width: 768px) and (max-width: 1024px) {

.ticket-link {
	color: #737373;
}

.ticket-link:link {
	color: #737373;
}

.ticket-link:visited {
	color: #737373;
}

.ticket-link:hover {
	color: black;
}

.involve {
	margin-bottom: 80px;
}

.logo {
	z-index: 1000;
	position: fixed;
	top: 90px;
	left: 90px;
	width: 85px;
	height: auto;
	display: block;
}

		.logo img {
			width: 85px;
			height: auto;
		}


.menu {
	z-index: 1000;
	position: fixed;
	top: 309px;
	left: 90px;
}

/*

.border-bottom, .border-top {
	height: 15px;
}

.border-left, .border-right {
	width: 15px;
}

*/


.intro-text {
	font-size: 26px;
	line-height: 34px;
	font-family: 'DIN Light';
	width: 85%;
	color: #737373;
	padding-top: 305px;
}


.contact-text {
	font-size: 26px;
	line-height: 34px;
	font-family: 'DIN Light';
	width: 85%;
	color: #737373;
	margin-bottom: 80px;
}



.clear {
	clear: both;
	margin-bottom: 90px;
}




.slideshow-text {
	z-index: 10;
    	margin-left: 0px;
    	position: relative;
    	left: 50px;
    	line-height: 1.3;
    	float: left;
    	color: #737373;
   	font-size: 14px;
    	font-family: 'DIN Regular';
 	width: calc(100% - 100px);
   	margin: 20px auto;
    	display: block;
	top: 0px;
}


		.slideshow-text p {
			width: 100%;
		}



.dates {
	z-index: 1;
	width: 80%;
	margin-bottom: 80px;
}


		.dates h1 {
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-family: 'DIN Medium';
			color: #737373;
			margin-bottom: 25px;
		}


		.dates li {
			color: #737373;
			list-style: none;
			font-size: 16px;
			letter-spacing: 0px;
			font-family: 'DIN Regular';
			color: #737373;
			line-height: 1.5;
		}

		.dates li span {
			color: #000;
			font-size: 18px;
			font-family: 'DIN Medium';
		}




}




@media (max-width: 768px) {

.lg-nav {
	display: none;
}

.mobile-container {
  position: fixed;
	z-index: 1000;
}

.mobile-head {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1000;
  background: #fff;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  opacity: 0;
  pointer-events: none;
  background: #fff;
  z-index: 999;
}

.title {
  position: absolute;
  font-family: "DIN Medium";
  line-height: 50px;
  padding-left: 10px;
}

.mobile-menu.open {
  opacity: 1;
  pointer-events: auto;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  opacity: 0.1;
  background-size: cover;
  background-position: center center;
  background-image: url("https://images.unsplash.com/photo-1491956142110-8a4226a12077?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9d65bd7937511c934d4b450d31f2c1ec&auto=format&fit=crop&w=1350&q=80");
}


.links {
  position: absolute;
  top: 150px;
	left: 30px;
}

.links ul li {
  list-style-type: none;
  font-family: "DIN medium";
	text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 30px;
}

.links ul li a {
  color: #333;
  text-decoration: none;
}
.icons {
  position: absolute;
  bottom: 0px;
  right: 13px;
}

.icons ul li {
  list-style-type: none;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
  border: 2px solid #555;
  border-radius: 100%;
  text-align: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-transform: translate(50px, 0);
  transform: translate(50px, 0);
  opacity: 0;
}

.icons ul li:nth-of-type(2) {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}

.icons ul li:nth-of-type(3) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.icons ul li:nth-of-type(4) {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
}

.icons ul li:nth-of-type(5) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}

.mobile-menu.open .icons ul li {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.icons ul li a {
  list-style-type: none;
  height: 20px;
  color: #555;
}

.icons ul li a i {
  font-size: 24px;
  line-height: 40px;
}


.button-container {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 0;
  cursor: pointer;
}




.button-container span {
  position: absolute;
  width: 30px;
  height: 1px;
  left: 55px;
  background: #000;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.button-container span:nth-of-type(1) {
  top: 20px;
}

.button-container span:nth-of-type(2) {
  top: 30px;
}

.button-container.open .a {
  opacity: 0;
}

.button-container.open .b {
  opacity: 1;
}

.button-container.open span:nth-of-type(1) {
  -webkit-transform: translate(0, 5px) rotate(225deg);
  transform: translate(0, 5px) rotate(225deg);
}

.button-container.open span:nth-of-type(2) {
  -webkit-transform: translate(0, -5px) rotate(135deg);
  transform: translate(0, -5px) rotate(135deg);
  width: 30px;
}


.ticket-link {
	color: #737373;
}

.ticket-link:link {
	color: #737373;
}

.ticket-link:visited {
	color: #737373;
}

.ticket-link:hover {
	color: black;
}

.involve {
	margin-bottom: 80px;
}
/*-------------------------------------*/
.title-mb{
	display:block;
	width:40vw;
	position:absolute;
	top:27px;
	margin:0 30vw 0 30vw;
	z-index:1000;
	text-align:center;
}
.title-mb a{
	font-family:"DIN Medium";
	text-transform: uppercase;
	font-size:20px;
	outline:none;
	text-decoration:none;
	color:#333;
}

.title-mb.hidden,.logo.hidden{
  opacity:0!important;
  display:block!important;
  transition:opacity .25s ease;
  z-index: -1;
}
.menu{
	width:auto;
	position:absolute;
	top:26px;
	right:0;
	left:50px!important;
	text-align:left;
  opacity:0;
	z-index:1;
	transition:opacity 0.25s ease;
}
.menu.on{
	opacity:1;
	z-index:1000;
	left:50px!important;
	right:0;
	top:26px;
	text-align:left;
	transition:opacity 0.25s ease;
}
.menu.on li:nth-child(1){
	margin-left:0px;
}
#nav-icon{
  z-index:200;
  display:block!important;
  left: calc((100% - 12vw) - 30px);
  width: 30px;
  height: 27px;
  top: 27px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
	z-index:3000;
	cursor: pointer;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 26px;
  background: rgb(80,80,80);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;

}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top:8px;
}

#nav-icon span:nth-child(4) {
  top: 16px;
}

#nav-icon.open span:nth-child(1) {
  top:11px;
  width: 0%;
  left: 12.5px;
  visibility: hidden;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 12.5px;
  visibility: hidden;
}
/*-------------------------------------*/
/*-------------------------------------*/
.lg-nav{
	position: fixed;
    width: 100vw;
    height: 74px;
    top: 0;
    left: 0;
    z-index: 999;
    background: white;
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.35);
}


.logo {
	z-index: 1000;
	position: fixed;
	top: 20px;
	left: 50px;
	width: 60px;
	height: auto;
	display: block;
}

		.logo img {
			height:auto;
			width: 25px;
		}







.menu {
}

		.menu li {
			list-style: none;
			text-align: right;
  			display:inline-block;
  			margin:0 10px;
		}

		.menu li a {
			text-align: right;
			color: #AEAEAE;
			font-family: 'DIN Medium';
			font-size: 10px;
			line-height: 1.5;
			text-decoration: none;
			-webkit-transition: all ease-in-out .3s;
		    -moz-transition: all ease-in-out .3s;
		    -o-transition: all ease-in-out .3s;
		    transition: all ease-in-out .3s;
		}

/*-------------------------------------*/
		.menu li a:hover {
			color: #000;
		}


		.menu li.active a {
			color: #000;
			font-family: 'DIN Medium';
			font-size: 10px;
			line-height: 1.5;
			list-style: none;
		}


/*

.border-bottom, .border-top {
	height: 8px;
}

.border-left, .border-right {
	width: 8px;
}

*/


.intro-text {
	font-size: 22px;
	line-height: 1.5;
	font-family: 'DIN Light';
	width: 100%;
	color: #737373;
	padding-top: 200px;
}


.contact-text {
	font-size: 22px;
	line-height: 1.5;
	font-family: 'DIN Light';
	width: 100%;
	color: #737373;
	margin-bottom: 80px;
}


.grid {
	width: calc(100% - 100px);
	margin: 0px auto;
	display: block;
}




.slideshow-section {
	width: 100%;
	margin-top: 50px;
}

		.slideshow {
			z-index: 1;
			margin-left: 0px;
			width: 100%;
			display: block;
			float: left;
		}

		.slideshow img{
			width: 100%;
			opacity: .9;
		}


		.slideshow-text {
			z-index: 10;
			margin-left: 0px;
			position: relative;
			left: 50px;
			line-height: 1.3;
			float:left;
			color: #737373;
			font-size: 14px;
			font-family: 'DIN Regular';
			width: calc(100% - 100px);
			margin: 20px auto;
			display: block;
			top: 0;
		}


				.slideshow-text p {
					width: 100%;
				}





.dates {
	z-index: 1;
	width: 100%;
	margin-bottom: 80px;
}


		.dates h1 {
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-family: 'DIN Medium';
			color: #737373;
			margin-bottom: 25px;
		}


		.dates li {
			color: #737373;
			list-style: none;
			font-size: 16px;
			letter-spacing: 0px;
			font-family: 'DIN Regular';
			color: #737373;
			line-height: 1.5;
		}

		.dates li span {
			color: #000;
			font-size: 18px;
			font-family: 'DIN Medium';
		}


.clear {
	clear: both;
	margin-bottom: 40px;
}



.background-images img{
	z-index: -1;
	position: fixed;
/*	display: block; */
/* 		width: 100%; */
	display: none;
	opacity: .1;
}


.right_background{
	width: 30%;
	float: right;
	right: 20%;
	bottom: 0px;
}

.top_background{
	width: 30%;
	float: right;
	right: 20%;
	top: 18%;

}

.left_background{
	width: 20%;
	float: left;
	left: 8%;
	top: 35%;
}






}
